<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="s12 m10 offset-m1">
        <div class="footer-copyright">
          © 2014-
          <noscript>2018</noscript>
          <script>
            document.write(new Date().getFullYear());
          </script>
          &nbsp;Kmaterialize, All rights reserved.<a class="right" target="_blank" href="https://github.com/kekefreedog/kmaterialize/blob/main/LICENSE">MIT License</a>
        </div>
      </div>
    </div>
  </div>
</footer>
