<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="s12 m10 offset-m1">
        <div class="footer-copyright docs-copyright">
          <div>© 2014-<span data-current-year>{{currentYear}}</span> <a target="_blank" href="https://materializecss.com/">Materializecss</a>, All rights reserved.</div>
          <div>© 2014-<span data-current-year>{{currentYear}}</span> <a target="_blank" href="https://materializeweb.com/">Materializeweb</a>, All rights reserved.</div>
          <div>© 2026-<span data-current-year>{{currentYear}}</span> <a target="_blank" href="https://vfx-toolkit.com/">Kmaterialize - VFX Toolkit</a>, All rights reserved.</div>
          <a href="https://github.com/kekefreedog/kmaterialize/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">MIT License</a>
        </div>
      </div>
    </div>
  </div>
</footer>
