<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="description" content="{{page.description}}" />
<meta name="keywords" content="kmaterialize, MaterializeCSS, Materializeweb, Material Design, CSS framework, web components, {{page.name}}" />
<meta name="robots" content="index, follow" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Kmaterialize" />
<meta property="og:title" content="{{page.name}} - Materialize" />
<meta property="og:description" content="{{page.description}}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{page.name}} - Materialize" />
<meta name="twitter:description" content="{{page.description}}" />

<title>{{page.name}} - Materialize</title>

<!-- Favicons-->
<link
  rel="apple-touch-icon-precomposed"
  href="images/favicon/apple-touch-icon-152x152.png"
/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta
  name="msapplication-TileImage"
  content="images/favicon/mstile-144x144.png"
/>
<link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32" />
<!--  Android 5 Chrome Color-->
<!--<meta name="theme-color" content="#EE6E73" />-->
<style>
  /* Full 100-900 weight range so the .font-weight-* utility classes (see typography.html)
     each render a genuinely distinct weight instead of collapsing onto the nearest loaded one */
  @import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
  @import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,600");
</style>

<!-- CSS-->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>
<script>
  const theme = localStorage.getItem("theme");
  if (theme) document.documentElement.setAttribute("theme", theme);
  const font = localStorage.getItem("font");
  if (font) document.documentElement.setAttribute("data-font", font);
</script>
