<header>
  <div class="search-results card"></div>

  <!-- Top Nav -->
  <div class="navbar-fixed">
    <nav class="navbar appbar-bordered docs-appbar">
      <div class="nav-wrapper">
        <a class="brand-logo" href="/">
          <img class="brand-logo-image" src="images/materialize.svg" alt="" />
          <span class="truncate" title="{{page.name}}">{{page.name}}</span>
        </a>
        <button type="button" class="sidenav-trigger" data-target="nav-mobile" aria-controls="nav-mobile" aria-expanded="false" aria-label="Open navigation"><i class="material-icons" aria-hidden="true">menu</i></button>
        <ul class="ml-auto">
          <li class="header-palette">
            <input type="color" id="color-picker" data-color-picker="pickr" data-color-theme="nano" data-color-opacity="false" value="#FFD700" aria-label="Page palette" />
            <a id="palette-trigger" href="#" aria-label="Change page palette">
              <i class="material-icons">palette</i>
            </a>
          </li>
          <li>
            <a href="#paletteSelectorModal" aria-label="Font and theme export settings" onclick="paletteSelectorModal.showModal(); return false;"><i class="material-icons">tune</i></a>
          </li>
          <li>
            <a id="theme-switch" href="#">
              <i class="material-icons">dark_mode</i>
            </a>
          </li>
          <li>
            <a class="ext-link" href="https://github.com/kekefreedog/kmaterialize" target="_blank" rel="noopener" title="Check out our GitHub">
              <img class="nav-icon-img" src="images/github.svg" alt="GitHub logo" />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Sidenav -->
  <ul class="sidenav sidenav-fixed" id="nav-mobile">
    <li class="logo">
      <a class="brand-logo" id="logo-container" href="/">
        <img id="front-page-logo" src="images/materialize.svg" alt="" />
        <span>Kmaterialize</span>
      </a>
    </li>

    <li class="search">
      <div class="s12 input-field outlined">
        <input class="search-docs" id="search" type="text" placeholder=" " autocomplete="off" />
        <label for="search">Search</label>
      </div>
    </li>

    {{#each config.items as |item|}} {{#getmenu item}}{{/getmenu}} {{/each}}
  </ul>
</header>

<dialog id="paletteSelectorModal" class="modal">
  <div class="modal-header">
    <h4>Font and theme export</h4>
  </div>
  <div class="modal-content">
    <div class="font-row">
      <label for="font-picker">Font</label>
      <select id="font-picker">
        <option value="">Default</option>
        <option value="muli">Muli</option>
      </select>
    </div>
    <button id="downloadCss" type="button" class="btn tonal">Download css style</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn text waves-effect" onclick="paletteSelectorModal.close()">Close</button>
  </div>
</dialog>
