<header>
  <div class="search-results card"></div>

  <!-- Top Nav -->
  <div class="navbar-fixed">
    <nav class="nav navbar">
      <div class="nav-wrapper primary">
        <a class="brand-logo">{{page.name}}</a>
        <a class="sidenav-trigger" href="#" data-target="nav-mobile"><i class="material-icons">menu</i></a>
        <ul class="ml-auto">
          <li>
            <a href="" onclick="paletteSelectorModal.showModal(); return false;">
              <i class="material-icons">palette</i>
            </a>
          </li>
          <li>
            <a id="theme-switch" href="#">
              <i class="material-icons">dark_mode</i>
            </a>
          </li>
          <li>
            <a class="ext-link" href="https://github.com/kekefreedog/kmaterialize" target="_blank" rel="noopener" title="Check out our GitHub">
              <img class="nav-icon-img" src="images/github.svg" alt="GitHub logo" />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Sidenav -->
  <ul class="sidenav sidenav-fixed" id="nav-mobile">
    <li class="logo">
      <a class="brand-logo" id="logo-container" href="/">
        <img id="front-page-logo" src="images/materialize.svg" alt="Materialize Web Logo" />
        Kmaterialize
      </a>
    </li>

    <li class="search">
      <div class="search-wrapper">
        <input class="search-docs" id="search" type="search" placeholder="Search" autocomplete="off" autofocus /><i class="material-icons">search</i>
      </div>
    </li>

    {{#each config.items as |item|}} {{#getmenu item}}{{/getmenu}} {{/each}}
  </ul>
</header>

<dialog id="paletteSelectorModal" class="modal">
  <div class="modal-header">
    <h4>Color Scheme</h4>
  </div>
  <div class="modal-content">
    <div class="color-row">
      <input type="color" id="color-picker" value="#FFD700" />
      <label for="color-picker">Primary Color</label>
    </div>
    <div class="font-row">
      <label for="font-picker">Font</label>
      <select id="font-picker">
        <option value="">Default</option>
        <option value="muli">Muli</option>
      </select>
    </div>
    <button id="downloadCss" type="button" class="btn tonal">Download css style</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn text waves-effect" onclick="paletteSelectorModal.close()">Close</button>
  </div>
</dialog>
